Options -Indexes
Options +FollowSymLinks

RewriteEngine On

# Gerçek dosya veya klasörse dokunma
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Her şeyi index.php'ye yönlendir
RewriteRule ^ index.php [L,QSA]
